.ui .form {
	width: 50%;
	margin: 0 auto;
}

.ui.grid.container.guard {
	margin-top: 100px;
}

.guard h1{
	width: 100%;
	text-align: center;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}